<h3>Later this month</h3>

<ul>
  <% @pastmonth.each do |show| %>
    <li>
      <%= link_to "#{show.band}", {controller: 'concerts', action: 'show',id: show.id }%>
      <%= " - " + show.city %>
    </li>
  <% end %>
</ul>
