/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

footer{
  position: fixed;
  bottom: 0px;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  background-image: url("footer.png");
  background-size: 100% 100%;
}

footer p{
  color: white;
  padding-top: 50px;
}

footer a:visited {
  color: white;
  padding-top: 50px;
}

header {
  display: block;
  top: 10px;
  margin: 0 auto;
  width: 40%;
  text-align: center;
 }

.later_this_month {
  display: block;
  position: absolute;
  padding: 100px 0px 0px 10px;
}

.main_content {
  width: 40%;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
}

.concert_info {
  width: 40%;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
}

.comment {
  position: relative;
  width: 40%;
  margin: 0 auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
